/* div p {
  font-size: 20px;
  color: white;
  font-family: Arial, sans-serif;
} */

@import "../scss/variables";
@import "../scss/reset-and-font.scss";

#contacto {
  color: white;
  background-color: rgb(239, 170, 175);
  padding: 5rem;
}

#pie {
  background-color: rgb(61, 55, 55);
  color: rgb(239, 170, 175);
  margin: 1rem;
  padding: 1rem;
}

.logo-instagram {
  margin: 0.1rem;
  max-width: 100%;
}

.derechos {
  margin-top: 4.5rem;
  font-size: 10px;
  text-align: center;
  color: antiquewhite;
}

.color-fondo-tarjeta {
  background-color: $color-fondo-tarjeta;
}

div {
  img {
    padding: 1px;
    background-color: $color-fondo-imagen;
  }
}

.color-texto-slides {
  color: $color-texto-slides;
}
